<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>
Store, lille Palma -
Aftenposten reise
</title>
<meta name="application-name" content="aftenposten"/>
<meta name="msapplication-tooltip" content="&Aring;pne aftenposten"/>
<meta name="msapplication-starturl" content="http://reise.aftenposten.no/"/>
<meta name="msapplication-window" content="width=800;height=600"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta property="og:site_name" content="vertikal.no" />
<meta name="title" content="Store, lille Palma"/>
<meta name="description" content="Feriebyen Palma er stor nok til å by på det meste, og liten nok til å holde på sjarmen." />
<link rel="image_src" type="image/jpg" href="http://reise.aftenposten.no/incoming/article36523.ece/ALTERNATES/w280c43/Palma.jpg" />
<meta property="og:image" content="/incoming/article36523.ece/ALTERNATES/w280c43/Palma.jpg" />
<meta property="og:type" content="article" />
<meta property="og:url" content="/reise/Store_-lille-Palma-36470.html" />
<meta property="og:title" content="Store, lille Palma" />
<meta property="og:description" content="Feriebyen Palma er stor nok til å by på det meste, og liten nok til å holde på sjarmen." />
<script type="text/javascript">
var addthis_config = {
pubid: "",
data_track_textcopy: true,
data_track_addressbar: true,
ui_language: "no",
data_ga_property: ""
}
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="/lib/jquery-1.8.3.min.js"></script>
<script src="js/aftenposten_custom.js"></script>



<link rel="shortcut icon" href="../skins/publications/aftenposten/gfx/icons/favicon.ico" />
<link rel="apple-touch-icon" href="http://reise.aftenposten.no/skins/publications/aftenposten/gfx/icons/apple-touch-icon_57x57.png">
<link rel="apple-touch-icon" href="http://reise.aftenposten.no/skins/publications/aftenposten/gfx/icons/apple-touch-icon_114x114.png" sizes="114x114">
<link rel="apple-touch-icon" href="http://reise.aftenposten.no/skins/publications/aftenposten/gfx/icons/apple-touch-icon_72x72.png" sizes="72x72">
<!-- start css: aftenposten_bil -->
<link href="../css/7d11541f6e430872e2d2a98e83eac539.miniFile.css" type="text/css" rel="stylesheet">
<!-- end css -->
<link href="../skins/global/print.css" type="text/css" rel="stylesheet" media="print" />
<link rel="pingback" href="http://reise.aftenposten.no/xmlrpc"/>
<script type="text/javascript" src="../js/c116bd1984d5daff21410cc4e2f93ed2.miniFile.js" ></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://reise.aftenposten.no/resources/js/mno/utils/html5.js"></script>
<script type="text/javascript" src="http://reise.aftenposten.no/resources/js/mno/utils/innershiv.js"></script>
<script type="text/javascript" src="http://reise.aftenposten.no/resources/js/mno/utils/respond.min.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript">
var __noconflict = false;
var IE6UPDATE_OPTIONS = {
icons_path: "http://reise.aftenposten.no/skins/global/gfx/ie6update/"
}
</script>
<script type="text/javascript" src="http://reise.aftenposten.no/resources/js/mno/utils/ie6update.js"></script>
<![endif]-->
</head>
<!--[if lt IE 7 ]>
<body id="aftenposten" class="ie6 ie "> <![endif]-->
<!--[if IE 7 ]>
<body id="aftenposten" class="ie7 ie "> <![endif]-->
<!--[if IE 8 ]>
<body id="aftenposten" class="ie8 ie "> <![endif]-->
<!--[if IE 9 ]>
<body id="aftenposten" class="ie9 "> <![endif]-->
<!--[if gt IE 9]>
<body id="aftenposten" class=""> <![endif]-->
<!--[if !IE]><!-->
<body id="aftenposten" class=""> <!--<![endif]-->
<div id="header" class="grid12">
<section data-widget-id="2664x0" class="widget code jsp widget-editable viziwyg-section-2 inpage-widget-2664" >
<div id="header" class="grid12">
<div class="sectionHeader">
<div class="gridRow grid12">
<div class="widget logo default widget-editable viziwyg-section-103 inpage-widget-10 gridUnit span3" >
<a href="http://reise.aftenposten.no/" title="" target="_top">
<img src="http://www.aftenposten.no/incoming/article5363753.ece/BINARY/ap-logo.png"
alt=""
title=""
data-image-small = "http://www.aftenposten.no/incoming/article5363753.ece/BINARY/w80/ap-logo.png" />
</a>
</div>
<div class="gridUnit span7">
<div class="gridRow">
<nav data-widget-view="widgets.topMenu.standardMenu" class="widget topMenu standardMenu span7 gridUnit topMainMenu" >
<ul class="clearfix">
<li class="verden activeSection">
<a class="" href="http://www.aftenposten.no/nyheter/uriks/" target="_top" >
Verden
</a>
</li>
<li class="norge ">
<a class="" href="http://www.aftenposten.no/norge/" target="_top" >
Norge
</a>
</li>
<li class="oslopuls ">
<a class="" href="http://www.oslopuls.no" target="_top" >
Oslopuls
</a>
</li>
<li class="konomi ">
<a class="" href="http://www.aftenposten.no/okonomi/" target="_top" >
Økonomi
</a>
</li>
<li class="kultur ">
<a class="" href="http://www.aftenposten.no/kultur/" target="_top" >
Kultur
</a>
</li>
<li class="meninger ">
<a class="" href="http://www.aftenposten.no/meninger/" target="_top" >
Meninger
</a>
</li>
<li class="nytte ">
<a class="" href="http://www.aftenposten.no/nytte/" target="_top" >
Nytte
</a>
</li>
<li class="sport ">
<a class="" href="http://sport.aftenposten.no/" target="_top" >
Sport
</a>
</li>
<li class="a ">
<a class="" href="http://www.aftenposten.no/sitemap/" target="_top" >
A-Å
</a>
</li>
</ul>
</nav>
</div>
<div class="gridRow">
<nav class="widget topMenu sectionMenu" >
<ul class="clearfix">
</ul>
</nav>
</div>
</div>
<nav data-widget-view="widgets.topMenu.standardMenu" class="widget topMenu standardMenu gridUnit span2" id="serviceMenu">
<ul class="">
<li class="minside ">
<a class="" href="http://onlinesos.aftenposten.no/tjenester/mypage.htms?utm_source=apno_header&amp;utm_medium=minside&amp;utm_campaign=fast?xtatc=INT-11" target="_top" >
Min side
</a>
</li>
<li class="kundeservice ">
<a class="" href="http://a.aftenposten.no/kundeservice/?utm_source=apno_header&amp;utm_medium=kundeservice&amp;utm_campaign=fast?xtatc=INT-12" target="_top" >
Kundeservice
</a>
</li>
<li class="akortet ">
<a class="" href="http://www.aftenposten.no/a-kortet/" target="_top" >
A-kortet
</a>
</li>
<li class="annonser ">
<a class="" href="http://bedrift.aftenposten.no?xtatc=INT-2" target="_top" >
Annonser
</a>
</li>
<li class="kjpprodukt ">
<a class="" href="http://a.aftenposten.no/kjop/?utm_source=apno&amp;utm_medium=produtkside&amp;utm_campaign=fast_topp?xtatc=INT-25" target="_top" >
Kjøp produkt
</a>
</li>
</ul>
</nav>
</div>
</div>
<div class="latestTicker">
<div class="gridRow grid12">
<section class="widget stories breakingnews span7 gridUnit">
<span class="latest"><a href="Store_-lille-Palma-36470.html"><span></span></a>
</span>
</section>
<div class="widget searchField default gridUnit span3" >
<form action="http://www.aftenposten.no/sok/" role="search" method="get" target="_top">
<div class="pillBox">
<input type="text" placeholder="S&oslash;k Aftenposten" id="pillText" name="query"/>
<button type="submit" id="btn2">S&oslash;k</button>
</div>
</form>
</div>
</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
$("div#header div.sectionHeader div div a").attr("href","http://www.aftenposten.no/");
$("nav.topMainMenu ul li.verden a").attr("href","http://www.aftenposten.no/nyheter/uriks/");
$("nav.topMainMenu ul li.norge a").attr("href","http://www.aftenposten.no/norge/");
$("nav.topMainMenu ul li.oslopuls a").attr("href","http://www.oslopuls.no/");
$("nav.topMainMenu ul li.konomi a").attr("href","http://www.aftenposten.no/okonomi/");
$("nav.topMainMenu ul li.kultur a").attr("href","http://www.aftenposten.no/kultur/");
$("nav.topMainMenu ul li.meninger a").attr("href","http://www.aftenposten.no/meninger/");
$("nav.topMainMenu ul li.nytte a").attr("href","http://www.aftenposten.no/nytte/");
$("nav.topMainMenu ul li.sport a").attr("href","http://sport.aftenposten.no/");
$("nav.topMainMenu ul li.a a").attr("href","http://www.aftenposten.no/sitemap/");
});
</script>
<script type="text/javascript">
$(document).ready(function() {
$("div#header div.sectionHeader div.gridRow.grid12 div.gridUnit div.gridRow:last").html("<h1 class='sectionTitle'><a href='http://reise.aftenposten.no/reise/'>Reise</a></h1><nav class='widget topMenu sectionMenu'><ul class='clearfix'><li class='reise first'><a target='_top' href='http://reise.aftenposten.no/reise/'>Aftenposten Reise </a></li></ul></nav>");
$("div#header div.sectionHeader div.gridRow.grid12 div.gridUnit div.gridRow:last h1 a").css("color","#c7d865");
$("div#header div.sectionHeader div.gridRow.grid12 div.gridUnit div.gridRow:last h1").css("border-color","#c7d865");
});
</script>
</section>
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-36362" >
<script type = "text/javascript">
/* Set webhit variables */
var webhit_a = "";
var webhit_ref = "";
var webhit_log_percent = 100;
var webhit_t = (new Date).getTime(); // The time the user (almost) started reading the page
/* Set current url */
webhit_a = encodeURIComponent(window.location.href);
/* Set current referer */
webhit_ref = document.referrer == "" ? "" : "&ref=" + encodeURIComponent(document.referrer);
/* Check if we should log anything for this request */
var webhit_enable_logging = Math.floor((Math.random() * 100 ) + 1) < webhit_log_percent ? true : false;
/* Log the pageview */
if (webhit_enable_logging) {
$("body").append('<img id="webhit20" src="http://webhit.snd.no/log.gif?type=v19&a=' + webhit_a + webhit_ref + '" style="display:none;"> ');
/* Enable logging of actions on page */
$(document).ready(function () {
try {
$('a.webhit_article, section.article a').on('click', function () {
/* webhit_a is the page the user is on */
var webhit_a = encodeURIComponent(window.location.href);
/* webhit_b is the page the user is going to */
var webhit_b = "&b=" + encodeURIComponent($(this).attr("href"));
var webhit_s;
var webhit_w;
/* Calculate the time since the user started reading */
webhit_t = (new Date).getTime() - webhit_t;
webhit_t = "&t=" + webhit_t;
/* Get the contentlevel for an article */
try {
webhit_l = $(this).closest(".gridRow")[0].className.match(/\bcontentLevel\d+\b/g)[0].replace("contentLevel", "");
if (webhit_l != "") {
webhit_l = "&l=" + webhit_l;
/* Get the width of the article on the level */
webhit_w = $(this).closest('.gridUnit')[0].className.match(/\bspan\d+\b/g)[0].replace("span", "");
webhit_w = "&width=" + webhit_w;
}
} catch (err) {
}
var logurl = 'http://webhit.snd.no/log.gif?type=c&a=' + webhit_a + webhit_b + webhit_l + webhit_w + webhit_t;
$.ajax({
url: logurl,
async: false,
cache: false,
timeout: 500
});
return;
});
} catch (er) {
}
});
}
</script>
<noscript><img id="webhit20" src="http://webhit.snd.no/log.gif?noscript"></noscript>
</section>
</div>
<div id="adLeft" class="none span2 adW180 adH1000"></div>
<div id="viewport" class="gridRow grid12">
<div id="page" class="span10 gridUnit">
<div id="topAd" class="span10">
<div class="ad widget mnopolarisAd placement widget-editable viziwyg-section-2 inpage-widget-3388 gridUnit span10 block adW980 adH150 none">
<div id="toppbanner" class="ohidden"> </div>
<script type="text/javascript" src="http://adserver.adtech.de/addyn|3.0|995.1|0000000|0|-1|ADTECH;cookie=info;alias=AP_Reise_Toppbanner_980x150;loc=100;grp=675911941;target=_blank;misc=[timestamp]"></script>
<noscript>
<a href="http://adserver.adtech.de/adlink|3.0|995.1|0000000|0|-1|ADTECH;loc=300;alias=AP_Reise_Toppbanner_980x150;cookie=info;grp=675911941" target="_blank">
<img src="http://adserver.adtech.de/adserv|3.0|995.1|0000000|0|-1|ADTECH;loc=300;alias=AP_Reise_Toppbanner_980x150;cookie=info;grp=675911941" alt="Alt-Text" />
</a>
</noscript>
</div>
<div class="ad widget mnopolarisAd placement widget-editable viziwyg-section-2 inpage-widget-10133 adW1 adH1 none">
<div id="popback" class="ohidden"> </div>
<script type="text/javascript" src="http://adserver.adtech.de/addyn|3.0|995.1|0000000|0|-1|ADTECH;cookie=info;alias=AP_Reise_PopBack;loc=100;grp=675911941;target=_blank;misc=[timestamp]"></script>
<noscript>
<a href="http://adserver.adtech.de/adlink|3.0|995.1|0000000|0|-1|ADTECH;loc=300;alias=AP_Reise_PopBack;cookie=info;grp=675911941" target="_blank">
<img src="http://adserver.adtech.de/adserv|3.0|995.1|0000000|0|-1|ADTECH;loc=300;alias=AP_Reise_PopBack;cookie=info;grp=675911941" alt="Alt-Text" />
</a>
</noscript>
</div>
</div>
<article id="content" class="widget storyContent article"
data-widget-id="art36470">
<section data-widget-id="24588x1" class="widget code jsp widget-editable viziwyg-section-2 inpage-widget-24588 carMenuSpecial span10" >
<div class="subNavSpecial">
<a class="selected" href="http://reise.aftenposten.no/reise/reise"><span class="">reiseforsiden</span></a>
<a class="" href="http://reise.aftenposten.no/reise/valutakalkulator"><span class="">valutakalkulator</span></a>
</div>
<div class="clearer"> </div>
</section>
<div class="gridRow ">
<!--read view specific fields-->
<div class="widget slideshow default widget-editable viziwyg-section-2 inpage-widget-3230 load slideshowContainer w980 c169 hasCaption" data-ratio="169" data-width="980" data-widget-id="3230x2">
<div class="slideshow-wrapper">
<ul class="slideshow-list" >
<li class="slideshow-element first">
<div class="slideShowItemContainer">
<img class=" widthCaption" alt=""
src="http://reise.aftenposten.no/incoming/article36523.ece/ALTERNATES/w780c169/Palma.jpg" />
<div class="caption">
<div class="caption-inner">
<h2></h2>
Den gotiske katedralen i Palma de Mallorca ruver ved sjøen i det vakre bybildet.
<p class="credits">
<strong>FOTO:</strong> Morten Uglum
</p>
</div>
</div>
</div>
</li>
<li class="slideshow-element ">
<div class="slideShowItemContainer">
<img class=" widthCaption" alt=""
src="http://reise.aftenposten.no/incoming/article36473.ece/ALTERNATES/w780c169/Mallorca+6.JPG" />
<div class="caption">
<div class="caption-inner">
<h2></h2>
- Den klassiske byggestilen på Mallorca omfatter tak som sticker langt utover fasaden, forklarer Inma og viser fram byens gamle rådhus, sier Inma Sanchéz.
<p class="credits">
<strong>FOTO:</strong> Arne Bjørndal
</p>
</div>
</div>
</div>
</li>
<li class="slideshow-element ">
<div class="slideShowItemContainer">
<img class=" widthCaption" alt=""
src="http://reise.aftenposten.no/incoming/article36474.ece/ALTERNATES/w780c169/Mallorca+9.JPG" />
<div class="caption">
<div class="caption-inner">
<h2></h2>
Placa Major er byens storstue og byr på flere uteserveringer. Drikke er ok, men matopplevelsene bør du søke andre steder. <p class="credits">
<strong>FOTO:</strong> Arne Bjørndal
</p>
</div>
</div>
</div>
</li>
<li class="slideshow-element last">
<div class="slideShowItemContainer">
<img class=" widthCaption" alt=""
src="http://reise.aftenposten.no/incoming/article36472.ece/ALTERNATES/w780c169/Mallorca+5.JPG" />
<div class="caption">
<div class="caption-inner">
<h2></h2>
Palmas gamleby opplever du best ved å bruke beina. Blir du sliten, er det bare å sette seg ned på en uteservering på en av de mange torgene - plaza´ene – i byen.
<p class="credits">
<strong>FOTO:</strong> Arne Bjørndal
</p>
</div>
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="gridRow ">
<h1 class="articleTitle ">Store, lille Palma</h1>
</div>
<div class="gridRow ">
<div class="gridUnit span6 ">
<p class="leadText ">Feriebyen Palma er stor nok til å by på det meste, og liten nok til å holde på sjarmen.</p>
<p itemscope="itemscope" itemtype="http://data-vocabulary.org/Person" class="byline author vCard">
<span class="prefix">AV:</span>
<span itemprop = "name" class="fn">arne
bjørndal</span>
<p class="dateline">
<span class="label">Publisert</span> 27 november 2012 11:43
<span class="label">Oppdatert</span> 27 november 2012 11:43
</p>
<div class="gridUnit span5 pre1 pushUp">
<div class="widget pageTools addThis widget-editable viziwyg-section-2 inpage-widget-2677 noPrint pull1 span1 left" >
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_email"></a>
<a class="addthis_button_google_plusone" g:plusone:size="large" g:plusone:count="false"></a>
</div>
<!-- AddThis Button END -->
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c592b4914cd73d9"></script>
</div>
<!-- AddThis Button BEGIN -->
<!-- AddThis Button END -->
<div style="float:left"></div> <div class="bodyText widget storyContent bodyText" data-widget-id="2674">
<p>- Palma har alt sammen, selv nå etter at de siste sommerturistene har reist hjem. Historie og kultur, shopping, mat, drikke og uteliv.</p><p>Guiden Inma Sanchéz  slår ut med armene som for å understreke hva hovedstaden på ferieøya Mallorca har å by på.</p><h2>- Ingen Barcelona-kloning</h2><p>Noen hevder Palma er et slags Barcelona i miniatyr fordi byen har mye av de samme kvaliteter som storebroren på fastlandet.
<div class="hmedia span2 pull1 left expandParent">
<img src="http://reise.aftenposten.no/incoming/article36525.ece/ALTERNATES/w180c23/Palma2.jpg"
data-picture-original="/incoming/article36525.ece/ALTERNATES/w580c169/Palma2.jpg"
alt=""
class="photo span2"
title="Gamlebyen i Palma ligger i områdene bak katedralen, og de smale gatene her inviterer til et besøk."/>
<div class="caption">
<h2></h2>
Gamlebyen i Palma ligger i områdene bak katedralen, og de smale gatene her inviterer til et besøk.
<p class="credits">
<strong>FOTO:</strong>
Morten Uglum
</p>
</div>
</div>
</p><p>Tull og tøys, mener guiden Inma der vi tusler gjennom de trange gatene i gamlebyen: - Palma er forskjellig fra alt annet.</p><p>Inma vil først vise fram byens ruvende katedral Catedral la Seu som ligger nesten nede ved sjøen og som er et godt utgangspunkt for å utforske gamlebyen i Palma.</p><p>Katedralen regnes som et mesterverk innen gotisk og katalansk arkitektur, og den kjente arkitekten Antoni Gaudí som til de grader har satt sitt preg på Barcelona, har vært innom denne katedralen også. Bl.a. er han ansvarlig for utsmykkingen som henger over alteret i katedralen.</p><p><strong><a href="http://www.facebook.com/aftenpostenreise">Følg oss på Facebook!</a></strong></p><h2>Intim gamleby</h2><p>Gamlebyen i Palma ligger i områdene bak katedralen, og de smale gatene her inviterer til et besøk. Her finnes kongepalasset Palau de l´Almudaina og godt bevarte herskapshus som adel og rikfolk fikk oppført. Stilen på husene er særegen med sine åpne patioer og store, dominerende trapper opp til andre etasje.</p><p>Men én attraksjon kan du spare deg for: De arabiske badene i gamlebyen er ikke verdt euroene det koster å komme inn. De gamle badene fra 900-tallet er i dag bare uinteressante ruiner.
<div class="hmedia span3 pull1 left expandParent">
<img src="http://reise.aftenposten.no/incoming/article36474.ece/ALTERNATES/w280c169/Mallorca+9.JPG"
data-picture-original="/incoming/article36474.ece/ALTERNATES/w580c169/Mallorca+9.JPG"
alt=""
class="photo span3"
title="Placa Major er byens storstue og byr på flere uteserveringer. Drikke er ok, men matopplevelsene bør du søke andre steder. "/>
<div class="caption">
<h2></h2>
Placa Major er byens storstue og byr på flere uteserveringer. Drikke er ok, men matopplevelsene bør du søke andre steder.
<p class="credits">
<strong>FOTO:</strong>
Arne Bjørndal
</p>
</div>
</div>
</p><p>- Men se opp, sier Inma og peker mot taket. Vi har kommet opp til torget Placa Cort og foran oss ligger det vakre og gamle rådhuset. Og her strekker taket på de gamle hustakene seg godt utover gaten.</p><p>- Denne tradisjonelle byggeskikken gir god skygge for solen og ly for regnet, forklarer hun.</p><h2>Klart for shopping</h2><p>Fra denne plassen og opp mot byens storstue, Placa Major, ligger attraktive kles-, smykker-, vesker-, sko-, mat- og innredningsbutikker på rekke og rad.</p><p>- Men først skal vi stanse her, sier Inma og inntar den lille butikken til Hermés Bor. Han og kona har spesialisert seg på lokale deliktasser. Her finnes alt fra olje, pølser  og tørket frukt til kaken som alle som besøker Mallorca bare MÅ kjøpe, smake og ta med seg hjem; Ensaimada. Den består av mel, smult, egg, melk, gjær, salt og sukker.</p><h2>Bredt utvalg</h2><p>Guiden vår, Inma, viser vei forbi gatemusikanter og shoppere opp til gaten Avinguda Jaume III. <div class="hmedia span3 pull1 left expandParent">
<img src="http://reise.aftenposten.no/incoming/article36473.ece/ALTERNATES/w280c169/Mallorca+6.JPG"
data-picture-original="/incoming/article36473.ece/ALTERNATES/w580c169/Mallorca+6.JPG"
alt=""
class="photo span3"
title="- Den klassiske byggestilen på Mallorca omfatter tak som sticker langt utover fasaden, forklarer Inma og viser fram byens gamle rådhus. "/>
<div class="caption">
<h2></h2>
- Den klassiske byggestilen på Mallorca omfatter tak som sticker langt utover fasaden, forklarer Inma og viser fram byens gamle rådhus.
<p class="credits">
<strong>FOTO:</strong>
Arne Bjørndal
</p>
</div>
</div>
</p><p>For i denne gaten sammen med Passeig de Born finner du de heteste forretningene og kjedebutikkene i Palma, bl.a. Zara, Massimo Dutti, Mango, Loewe, El Corte Inglés, Louis Vuitton og ikke minst den spanske nykommeren klesforretningen Uterqüe (samme eier som Zara og Massimo Dutti) som på kort tid har markert seg sterkt i markedet.</p><p>Stilen er klassisk med bredt utvalg i accesorios som belter, vesker, osv. Vel verdt et besøk om du er opptatt av klær og moter.</p><h2>Når sulten melder seg</h2><p>Ta utgangspunkt i gaten Carrer d´Apuntadores når kroppen skal ha sitt og du vil se nærmere på utelivet i Palma. I denne gaten og nabogatene finnes gode og populære tapasbarer og finere restauranter med internasjonalt tilsnitt.</p><p>Når det er tid for desserten, bør du stikke ned i Carrer de Sant Joan 1 og trekke inn på baren Abaco som bare serverer drinker og isanretninger. Stedet er helt spesielt og er bygd opp i et flere hundre år gammelt rikmannshus.</p><p>Rolig, klassisk musikk smuger seg ut av høyttalermne, og overalt bugner det av ferske frukter og store blomsteroppsatser. Men prisene bør du kjenne til før du bestiller: 9 euro (drøyt 80 kr.) for et glass øl eller juice, 16 euro(drøyt 110 kr.) for en drink. Omtrent fire ganger så dyrt som i vanlige barer!</p><h2>Nattelivet starter</h2><p>Det villeste nattelivet foregår i sommersesongen, og de mest populære diskotekene og nattklubbene ligger i gangavstand fra gamlebyen, sørvestover langs den brede strandpromenanden<strong> </strong>(Passeig Marítim). Resten av året holder mange av stedene stengt.</p><p>Men vil du oppleve levende musikk, finner du et godt alternativ i Jazz Voyeur-klubben som har adresse Carrer d´Apuntadores 1(fortsatt gamlebyen). Her får du servert live jazz, bluez, flamenoco og salsa. I helgene kan du holde på til kl. 03, til hverdags avsluttes festlighetene klokken ett på natten.</p><p> </p>
</div>
<section data-widget-id="24459x3" class="widget code jsp widget-editable viziwyg-section-2 inpage-widget-24459" >
<!-- BEGIN ADA ADS SCRIPT -->
<script type="text/javascript">
(function () { try { var scriptEl = document.createElement('script'); scriptEl.type = 'text/javascript'; scriptEl.async = 'async'; scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js' : 'http://cdn.cxense.com/cx.js'; var targetEl = document.getElementsByTagName('script')[0]; targetEl.parentNode.insertBefore(scriptEl, targetEl); } catch (e) { }; } ());
</script>
<script type="text/javascript">
var cx_props = { 'lf-am': '3px', 'lf-tf': 'bold 14px/1.4 Arial,Helvetica,sans-serif', 'lf-tc': 'rgb(37,108,134)', 'lf-ttd': 'underline', 'lf-tmc': 'rgb(37,108,134)', 'lf-tmtd': 'underline', 'lf-af': '14px/1.4 Arial,Helvetica,sans-serif', 'lf-ac': 'black', 'lf-amfw': 'normal', 'lf-amc': 'black', 'lf-lf': '14px/1.4 Arial,Helvetica,sans-serif', 'lf-lc': 'rgb(136,168,133)', 'lf-ltd': 'none' };
var adaSections = [
{ adSpaceId: '0000000000a33e25', initUnits: 0, regExp: /^.*aftenposten\.no\/arkivet\/.*$/ },
{ adSpaceId: '0000000000a33e7d', initUnits: 0, regExp: /^.*aftenposten\.no\/bil\/.*$/ },
{ adSpaceId: '0000000000a33ec3', initUnits: 0, regExp: /^.*aftenposten\.no\/bolig\/.*$/ },
{ adSpaceId: '0000000000a33edf', initUnits: 0, regExp: /^.*aftenposten\.no\/digital\/.*$/ },
{ adSpaceId: '0000000000a33efd', initUnits: 0, regExp: /^.*aftenposten\.no\/fakta\/.*$/ },
{ adSpaceId: '0000000000a33f19', initUnits: 0, regExp: /^.*aftenposten\.no\/forbruker\/.*$/ },
{ adSpaceId: '0000000000a33f35', initUnits: 0, regExp: /^.*aftenposten\.no\/helse\/.*$/ },
{ adSpaceId: '0000000000a33f51', initUnits: 0, regExp: /^.*aftenposten\.no\/jobb\/.*$/ },
{ adSpaceId: '0000000000a33f6d', initUnits: 0, regExp: /^.*aftenposten\.no\/klima\/.*$/ },
{ adSpaceId: '0000000000a33f89', initUnits: 0, regExp: /^.*aftenposten\.no\/kultur\/.*$/ },
{ adSpaceId: '0000000000a33fa5', initUnits: 0, regExp: /^.*aftenposten\.no\/meninger\/.*$/ },
{ adSpaceId: '0000000000a33fc1', initUnits: 0, regExp: /^.*aftenposten\.no\/nettprat\/.*$/ },
{ adSpaceId: '0000000000a33fdd', initUnits: 0, regExp: /^.*aftenposten\.no\/nyheter\/.*$/ },
{ adSpaceId: '0000000000a33ff9', initUnits: 0, regExp: /^.*aftenposten\.no\/okonomi\/.*$/ },
{ adSpaceId: '0000000000a34015', initUnits: 0, regExp: /^.*aftenposten\.no\/paascenen\/.*$/ },
{ adSpaceId: '0000000000a34049', initUnits: 0, regExp: /^.*aftenposten\.no\/pengenedine\/.*$/ },
{ adSpaceId: '0000000000a34065', initUnits: 0, regExp: /^.*aftenposten\.no\/rampelys\/.*$/ },
{ adSpaceId: '0000000000a34081', initUnits: 3, regExp: /^.*aftenposten\.no\/reise\/.*$/ },
{ adSpaceId: '0000000000a3409d', initUnits: 0, regExp: /^.*aftenposten\.no\/spesial\/.*$/ },
{ adSpaceId: '0000000000a340b9', initUnits: 0, regExp: /^.*aftenposten\.no\/nyheter\/sport\/.*$/ },
/*{ adSpaceId: '0000000000a340d5', initUnits: 0, regExp: /^.*aftenposten\.no\/tvguide\/.*$/ },*/
{ adSpaceId: '0000000000a340f1', initUnits: 0, regExp: /^.*aftenposten\.no\/underholdning\/.*$/ },
{ adSpaceId: '0000000000a348dd', initUnits: 0, regExp: /^.*aftenposten\.no\/vaer\/.*$/ }
];
var adSpaceId = null;
var initialVerticalAdUnits = 0;
for (var section in adaSections) {
if (adaSections.hasOwnProperty(section) && adaSections[section].regExp.test(location.href)) { adSpaceId = adaSections[section].adSpaceId; initialVerticalAdUnits = adaSections[section].initUnits; break; }
}
function onImpressionResult(event) {
if (event && event.matchedAdCount === 0) { document.getElementById('adaAdsDiv').style.display = 'none'; }
}
</script>
<div id="adaAdsDiv" style="border: 1px solid #ddd; position:relative">
<script type="text/javascript" id="adaAdsScript">
if (adSpaceId) {
var cX = cX || {}; cX.callQueue = cX.callQueue || [];
cX.callQueue.push(['setAccountId', '9222252570837342891']);
cX.callQueue.push(['setSiteId', '9222252570837342936']);
cX.callQueue.push(['insertAdSpace', { adSpaceId: adSpaceId, baseAdDeliveryUrl: 'http://adserver.cxad.cxense.com/adserver/search', secureBaseAdDeliveryUrl: 'https://s-adserver.cxad.cxense.com/adserver/search', adUnitWidth: 472, adUnitHeight: 65, initialHorizontalAdUnits: 1, initialVerticalAdUnits: initialVerticalAdUnits, targetElementId: 'adaAdsScript', onImpressionResult: onImpressionResult }]);
} else { document.getElementById('adaAdsDiv').style.display = 'none'; }
</script>
<div style="position: absolute; width:70px; height:25px; right:0; top:0; z-index: 1000;"><a href="http://www.ada.no/" target="_blank"><img src=http://logos.cdn.cxpublic.com/ADA_TopRightCornerLogo.png width="70" height="25" style="border:0" alt=""/></a></div>
</div>
<!-- END ADA ADS SCRIPT -->
</section>
</div>
<div class="ad widget mnopolarisAd placement widget-editable viziwyg-section-2 inpage-widget-3386 block adW580 adH400 none">
<div id="netboard1" class="ohidden"> </div>
<script id="loadnetboard1" type="text/javascript">
/*<![CDATA[*/
if (typeof adtech === 'object') {adtech.loadFIF('netboard1','AP_Reise_Netboard1_580x400','675911941');
}/*]]>*/
</script><noscript>
<a href="http://adserver.adtech.de/adlink|3.0|995.1|0000000|0|-1|ADTECH;loc=300;alias=AP_Reise_Netboard1_580x400;cookie=info;grp=675911941" target="_blank">
<img src="http://adserver.adtech.de/adserv|3.0|995.1|0000000|0|-1|ADTECH;loc=300;alias=AP_Reise_Netboard1_580x400;cookie=info;grp=675911941" alt="Alt-Text" />
</a>
</noscript>
</div>
<section data-widget-id="3384x4" class="widget code jsp widget-editable viziwyg-section-2 inpage-widget-3384 noPrint" >
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/nb_NO/all.js#xfbml=1&appId=263857413680377";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments" data-href="http://reise.aftenposten.no/reise/Store_-lille-Palma-36470.html"></div>
</section>
</div>
<div class="gridUnit span4 ">
	<div id="facebook_emitter"><img src="img/facebook.png" /></div> 
<!-- <section class="widget code html widget-editable viziwyg-section-2 inpage-widget-14637 noPrint" >
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_facebook_like" fb:like:layout="standard" fb:like:action="recommend" fb:like:width="380"></a>
</div>
</section>
 --><section class="widget code html widget-editable viziwyg-section-2 inpage-widget-24606 valuta" >
<script src="http://tuxcache.aftenposten.no/kalkulator/valutacalc2js.do" type="text/javascript"></script>
<h5>Valutakalkulator:</h5>
<form action="Store_-lille-Palma-36470.html" name="valuta">
<p>
<label for="fraValuta">Fra valuta:</label><br/>
<select name="fraValuta" id="fraValuta" onChange="regnUt(this.form);">
<option value="NOK" selected="selected">Norge (NOK)</option>
<option value="USD">USA (USD) </option>
<option value="EUR">EURO (EUR) </option>
<option value="SEK">Sverige (SEK) </option>
<option value="DKK">Danmark (DKK) </option>
<option value="GBP">Storbritannia (GBP) </option>
<option value="CHF">Sveits (CHF) </option>
<option value="JPY">Japan (JPY) </option>
<option value="CAD">Canada (CAD) </option>
<option value="ISK">Island (ISK) </option>
<option value="AUD">Australia (AUD) </option>
<option value="BHD">Bahrain (BHD) </option>
<option value="CZK">Tsjekkia (CZK) </option>
<option value="HKD">Hong Kong (HKD) </option>
<option value="KWD">Kuwait (KWD) </option>
<option value="LVL">Latvia (LVL) </option>
<option value="LTL">Litauen (LTL) </option>
<option value="NZD">New Zealand (NZD) </option>
<option value="QAR">Qatar (QAR) </option>
<option value="SAR">Saudi Arabia (SAR) </option>
<option value="SGD">Singapore (SGD) </option>
<option value="ZAR">S&oslash;r Afrika (ZAR) </option>
<option value="THB">Thailand (THB) </option>
<option value="AED">Emiratene (AED) </option>
<option value="CNY">Kina (CNY) </option>
<!-- <option value="CYP">Kypros (CYP) </option>-->
<option value="EEK">Estland (EEK) </option>
<option value="HUF">Ungarn (HUF) </option>
<option value="INR">India (INR) </option>
<option value="IDR">Indonesia (IDR) </option>
<option value="ILS">Israel (ILS) </option>
<option value="KES">Kenya (KES) </option>
<option value="KRW">S&oslash;r Korea (KRW) </option>
<option value="MXN">Mexico (MXN) </option>
<!-- <option value="MTL">Malta (MTL) </option>-->
<option value="MAD">Marokko (MAD) </option>
<option value="PKR">Pakistan (PKR) </option>
<option value="PHP">Filippinene (PHP) </option>
<option value="PLN">Polen (PLN) </option>
<option value="RUB">Russland (RUB) </option>
<option value="SKK">Slovakia (SKK) </option>
<option value="LKR">Sri Lanka (LKR) </option>
<option value="TWD">Taiwan (TWD) </option>
<option value="TZS">Tanzania (TZS) </option>
<!--<option value="THB">Thailand (THB) </option>-->
<option value="TND">Tunisia (TND) </option>
<option value="TRY">Tyrkia (TRY) </option>
<option value="ZWD">Zimbabwe (ZWD) </option>
<option value="ETB">Etiopia (ETB) </option>
</select>
</p>
<p>
<label for="tilValuta">Til valuta:</label><br/>
<select name="tilValuta" id="tilValuta" onChange="regnUt(this.form);">
<option value="NOK">Norge (NOK)</option>
<option value="USD">USA (USD) </option>
<option value="EUR" selected="selected">EURO (EUR) </option>
<option value="SEK">Sverige (SEK) </option>
<option value="DKK">Danmark (DKK) </option>
<option value="GBP">Storbritannia (GBP) </option>
<option value="CHF">Sveits (CHF) </option>
<option value="JPY">Japan (JPY) </option>
<option value="CAD">Canada (CAD) </option>
<option value="ISK">Island (ISK) </option>
<option value="AUD">Australia (AUD) </option>
<option value="BHD">Bahrain (BHD) </option>
<option value="CZK">Tsjekkia (CZK) </option>
<option value="HKD">Hong Kong (HKD) </option>
<option value="KWD">Kuwait (KWD) </option>
<option value="LVL">Latvia (LVL) </option>
<option value="LTL">Litauen (LTL) </option>
<option value="NZD">New Zealand (NZD) </option>
<option value="QAR">Qatar (QAR) </option>
<option value="SAR">Saudi Arabia (SAR) </option>
<option value="SGD">Singapore (SGD) </option>
<option value="ZAR">S&oslash;r Afrika (ZAR) </option>
<option value="THB">Thailand (THB) </option>
<option value="AED">Emiratene (AED) </option>
<option value="CNY">Kina (CNY) </option>
<!-- <option value="CYP">Kypros (CYP) </option>-->
<option value="EEK">Estland (EEK) </option>
<option value="HUF">Ungarn (HUF) </option>
<option value="INR">India (INR) </option>
<option value="IDR">Indonesia (IDR) </option>
<option value="ILS">Israel (ILS) </option>
<option value="KES">Kenya (KES) </option>
<option value="KRW">S&oslash;r Korea (KRW) </option>
<option value="MXN">Mexico (MXN) </option>
<!-- <option value="MTL">Malta (MTL) </option>-->
<option value="MAD">Marokko (MAD) </option>
<option value="PKR">Pakistan (PKR) </option>
<option value="PHP">Filippinene (PHP) </option>
<option value="PLN">Polen (PLN) </option>
<option value="RUB">Russland (RUB) </option>
<option value="SKK">Slovakia (SKK) </option>
<option value="LKR">Sri Lanka (LKR) </option>
<option value="TWD">Taiwan (TWD) </option>
<option value="TZS">Tanzania (TZS) </option>
<!--<option value="THB">Thailand (THB) </option>-->
<option value="TND">Tunisia (TND) </option>
<option value="TRY">Tyrkia (TRY) </option>
<option value="ZWD">Zimbabwe (ZWD) </option>
<option value="ETB">Etiopia (ETB) </option>
</select>
</p>
<p class="belop">
<label for="innPenger">Bel&oslash;p:</label><br/>
<input type="text" id="innPenger" name="innPenger" onChange="regnUt(this.form);" onKeyUp="regnUt(this.form);" value="100">
</p>
<p >
<label for="utPenger">Vekslet:</label><br/>
<input type="text" id="utPenger" name="utPenger" onChange="regnUt(this.form);" onKeyUp="regnUt(this.form);" value="0">
</p>
</form>
<script type="text/javascript">regnUt(document.valuta);</script>
<span><a href="http://reise.aftenposten.no/reise/article2194361.ece">Klikk her for en oversikt over alle kursene.</a></span>
</section>
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-24605 Flytoget" >
<script>
var domain = document.domain;
if (domain === 'reise.aftenposten.no') {
document.write('<p>Sponset av:</p><a href="http://www.flytoget.no/"><img src="../skins/specials/bil/publications/aftenposten/gfx/flytoget_logo.gif"></a>')
} </script>
</section>
<section class="widget relatedContents factboxes clearfix"
>
<header class="header"><h2>Faktaboks</h2></header>
<div class="content">
<h3 class="">Mer enn Palma</h3>
<p>Når du først er i Palma, bør du sette av en dag eller to til å utforske andre deler av den frodige øya:</p><ul><li>I gangavstand fra Palma finner du festningen Castell de Bellver som ligger i høyden over byen. Herfra har du en flott utsikt ned mot Palma og den store havnen.</li><li>Det smalsporede tog fra Palma til Soller er en av Palmas mest populære attraksjoner. Fra endestasjonen i innlandsbyen Soller tar du trikken ned til fiskelandsbyen Port de Soller.</li><li>Med leiebil kommer du deg enkelt og greit rundt på øya i ditt eget tempo. På nordsiden av øya kan veiene være smale og svingete. Mye idyll og flotte ustiktspunkter!</li><li>Kjør ikke forbi den vakre fjellandsbyen Valdemossa nordvest på øya. Her ble Mallorcas eneste helgen født, Catalina Thomás, og på alle hus finnes fliser som dramatiserer sider ved hennes liv. I et kloster i landsbyen bodde også den polske komponisten Frédéric Chopin og den franske forfatterinnen George Sand vinteren 1838/39.</li><li>Ta buss nr. 15 østover til Platja de Palma(ca. 30 min) dersom du vil slikke sol eller ta en dukkert i Middelhavet. Dette er en av Mallorcas flotteste strender.</li><li>Reiser du med barn, har Mallorca gode tilbud på strender, flere vannland, tur med miniubåt(Magaluf), minigolf, safaripark og akvarium.</li></ul><p><strong> </strong></p><p><strong>Verdt å vite</strong></p><ul><li><strong>Hotell: </strong>Palma har et svært bredt utvalg hoteller i ulike prisklasser og som utenom sommersesongen kan tilby store rabatter. Her finner du alt fra mindre designhotell til store og tradisjonelle kjedehoteller. Sjekk hotellsidene på nettet for de beste tilbudene!</li><li><strong>Siesta: </strong>På Mallorca og i Palma er det vanlig med siesta(lunsj) mellom kl. 14 og 17. Unntaket er de store kjedeforretningene. De fleste forretningene holder åpent til kl. 21.</li><li><strong>Klima: </strong>Mallorca og Palma er en helårsdestinasjon. Høysesongen er juni til og med august. Husk at i vintermånedene kan temperaturne gå ned i 5-6 grader. I desember er det i gjennomsnitt ni regnsværsdager. Vanlig sommertemperatur er 25 – 30 grader.</li><li><strong>Fly: </strong>Det er enkelt å finne rimelige flyavganger fra Norge til Palmas internasjonale flyplass Son Sant Joan, en knapp mil øst for Palma. Flytiden fra Norge er fra ca. fire timer og popover. Sjekk flybilletter på internett!</li><li><strong>Balearene: </strong>Øygruppen Balearene i Middelhavet består av Mallorca(størst), Menorca, Ibiza og Formentera.</li></ul>
</div>
</section>
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-25281" >
<!-- Script stage -->
<script>
var domain = document.domain;
if (domain === 'reise.aftenposten.no') {
document.write('<iframe src="http://godetilbud.aftenposten.no/channel/ap-reise-gode-tilbud-scroll-380" frameborder="0" style="border: 1px solid #CCCCCC;" width="378" height="400"></iframe>');
} </script>
</section>
<div class="ad widget mnopolarisAd placement widget-editable viziwyg-section-2 inpage-widget-4783 block adW380 adH262 none">
<div id="miniboard1" class="ohidden"> </div>
<script id="loadminiboard1" type="text/javascript">
/*<![CDATA[*/
if (typeof adtech === 'object') {adtech.loadFIF('miniboard1','AP_Reise_Miniboard_380x262','675911941');
}/*]]>*/
</script><noscript>
<a href="http://adserver.adtech.de/adlink|3.0|995.1|0000000|0|-1|ADTECH;loc=300;alias=AP_Reise_Miniboard_380x262;cookie=info;grp=675911941" target="_blank">
<img src="http://adserver.adtech.de/adserv|3.0|995.1|0000000|0|-1|ADTECH;loc=300;alias=AP_Reise_Miniboard_380x262;cookie=info;grp=675911941" alt="Alt-Text" />
</a>
</noscript>
</div>
<section data-widget-id="24570x5" class="widget code jsp widget-editable viziwyg-section-2 inpage-widget-24570 ad" >
</section>
<section data-widget-id="3385x6" class="widget code jsp widget-editable viziwyg-section-2 inpage-widget-3385 noPrint" >
<!-- <iframe src="http://www.facebook.com/plugins/likebox.php?id=27515504808&amp;width=380&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=340"
scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:380px; height:340px;"
allowTransparency="true"></iframe> -->
like on Facebooky
</section>
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-19953" >
<!-- iframe src="http://torget.adressa.no/channel/adressa-380x400-bil-motor" style="border: 1px solid #CCCCCC;" frameborder="0" width="380" height="400"></iframe-->
<!-- Script stage -->
<script>
var domain = document.domain;
if (domain === 'bil.adressa.no') {
document.write('<iframe src="http://torget.adressa.no/channel/adressa-380x400-bil-motor" style="border: 1px solid #CCCCCC;" frameborder="0" width="380" height="400"></iframe>');
} </script>
</section>
<section data-widget-id="24630x7" class="widget code jsp widget-editable viziwyg-section-2 inpage-widget-24630 noPrint trafficfundBox" >
<header class="header">
<h2>Tjenester</h2>
</header>
<ul>
<li>
<a href="http://www.finn.no/" target="_blank">
<img src="../skins/global/gfx/trafficfund/finn-148x25.png">
</a>
</li>
<li>
<a href="http://www.flytteportalen.no/" target="_blank">
<img src="../skins/global/gfx/trafficfund/flytteportalen-148x25.png">
</a>
</li>
<li>
<a href="http://www.letsdeal.no/" target="_blank">
<img src="../skins/global/gfx/trafficfund/letsdeal-148x25.png">
</a>
</li>
<li>
<a href="http://www.mittanbud.no/" target="_blank">
<img src="../skins/global/gfx/trafficfund/mittanbud-148x25.png">
</a>
</li>
<li>
<a href="http://www.moteplassen.no/" target="_blank">
<img src="../skins/global/gfx/trafficfund/moteplassen-148x25.png">
</a>
</li>
<li>
<a href="http://www.nabolag.no/" target="_blank">
<img src="../skins/global/gfx/trafficfund/nabolag-148x25.png">
</a>
</li>
<li>
<a href="http://www.penger.no/" target="_blank">
<img src="../skins/global/gfx/trafficfund/penger-148x25.png">
</a>
</li>
<li>
<a href="http://www.prisjakt.no/" target="_blank">
<img src="../skins/global/gfx/trafficfund/prisjakt-148x25.png">
</a>
</li>
<li>
<a href="http://www.vektklubb.no/" target="_blank">
<img src="../skins/global/gfx/trafficfund/vektklubb-148x25.png">
</a>
</li>
</ul>
</section>
<section class="widget list detailed widget-editable viziwyg-section-2 inpage-widget-3228 pictureVideoSpecials " data-widget-id="3228x8"
>
</section>
<section class="widget list detailed widget-editable viziwyg-section-2 inpage-widget-24528 latestCarTests " data-widget-id="24528x9"
>
<header class="header">
<h2>Siste reiseartikler</h2>
</header>
<ul class="articleList content">
<li>
<article class="article first ">
<a href ="Store_-lille-Palma-36470.html" class="media imageLeft">
<img src="http://reise.aftenposten.no/incoming/article36523.ece/ALTERNATES/w80c169/Palma.jpg"
alt=""
data-picture-original="/incoming/article36523.ece/BINARY/original/Palma.jpg"
class=""
title=""
width="80"
height="45"
/>
</a>
<h2>
<a href="Store_-lille-Palma-36470.html"
class="">
Store, lille Palma
</a>
</h2>
<p class="">
Feriebyen Palma er stor nok til å by på det meste,.....
</p>
<footer>
</footer>
</article>
</li>
<li>
<article class="article ">
<a href ="http://reise.aftenposten.no/reise/Velkommen-til-Hawaii-36486.html" class="media imageLeft">
<img src="../prodtest/article36485.ece/ALTERNATES/w80c169/afp000406246.jpg"
alt=""
data-picture-original="/prodtest/article36485.ece/BINARY/original/afp000406246.jpg"
class=""
title=""
width="80"
height="45"
/>
</a>
<h2>
<a href="http://reise.aftenposten.no/reise/Velkommen-til-Hawaii-36486.html"
class="">
Velkommen til Hawaii!
</a>
</h2>
<p class="">
En solid dose vakre strender, frisk palmesus, ufor.....
</p>
<footer>
</footer>
</article>
</li>
<li>
<article class="article ">
<a href ="http://reise.aftenposten.no/reise/Hyyysj-Ikke-fortell-om-disse-stedene-36465.html" class="media imageLeft">
<img src="http://reise.aftenposten.no/incoming/article36477.ece/ALTERNATES/w80c169/NYC_secrets.jpg"
alt=""
data-picture-original="/incoming/article36477.ece/BINARY/original/NYC_secrets.jpg"
class=""
title=""
width="80"
height="45"
/>
</a>
<h2>
<a href="http://reise.aftenposten.no/reise/Hyyysj-Ikke-fortell-om-disse-stedene-36465.html"
class="">
Hyyysj! Ikke fortell om disse stedene!
</a>
</h2>
<p class="">
New York-tipsene du aller helst vil holde for deg .....
</p>
<footer>
</footer>
</article>
</li>
<li>
<article class="article ">
<a href ="http://reise.aftenposten.no/reise/Hallo_-er-det-en-pilot-om-bord-36463.html" class="media imageLeft">
<img src="http://reise.aftenposten.no/incoming/article36464.ece/ALTERNATES/w80c169/Lufthansa.jpg"
alt=""
data-picture-original="/incoming/article36464.ece/BINARY/original/Lufthansa.jpg"
class=""
title=""
width="80"
height="45"
/>
</a>
<h2>
<a href="http://reise.aftenposten.no/reise/Hallo_-er-det-en-pilot-om-bord-36463.html"
class="">
Hallo, er det en pilot om bord?
</a>
</h2>
<p class="">
Lufthansa-styrmann akutt syk over Atlanteren.
</p>
<footer>
</footer>
</article>
</li>
<li>
<article class="article ">
<a href ="http://reise.aftenposten.no/reise/Norwegian-apner-ny-rute-til-Italia-36448.html" class="media imageLeft">
<img src="http://reise.aftenposten.no/incoming/article36449.ece/ALTERNATES/w80c169/norwegian.jpg"
alt=""
data-picture-original="/incoming/article36449.ece/BINARY/original/norwegian.jpg"
class=""
title=""
width="80"
height="45"
/>
</a>
<h2>
<a href="http://reise.aftenposten.no/reise/Norwegian-apner-ny-rute-til-Italia-36448.html"
class="">
Norwegian åpner ny rute til Italia
</a>
</h2>
<p class="">
Girer opp foran sommeren.
</p>
<footer>
</footer>
</article>
</li>
</ul>
</section>
</div>
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-25282" >
<!-- iframe src="http://godetilbud.aftenposten.no/channel/aftenposten-gode-tilbud-bil-980" frameborder="0" width="100%" height="273"></iframe-->
<!-- Script stage -->
<script>
var domain = document.domain;
if (domain === 'reise.aftenposten.no') {
document.write('<iframe src="http://godetilbud.aftenposten.no/channel/ap-reise-gode-tilbud-horizontal-v2-980" frameborder="0" width="980" height="371"></iframe>');
} </script>
</section>
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-19951" >
<!-- iframe src="http://torget.adressa.no/channel/adressa-980x500-bil-motor" style="border: 1px solid #CCCCCC;" frameborder="0" width="978" height="500"></iframe-->
<!-- Script stage -->
<script>
var domain = document.domain;
if (domain === 'bil.adressa.no') {
document.write('<iframe src="http://torget.adressa.no/channel/adressa-980x500-bil-motor" style="border: 1px solid #CCCCCC;" frameborder="0" width="978" height="500"></iframe>');
} </script>
</section>
<div class="ad widget mnopolarisAd placement widget-editable viziwyg-section-2 inpage-widget-3393 block adW980 adH500 none">
<div id="megaboard" class="ohidden"> </div>
<script id="loadmegaboard" type="text/javascript">
/*<![CDATA[*/
if (typeof adtech === 'object') {adtech.loadFIF('megaboard','AP_Reise_Megaboard_980x500','675911941');
}/*]]>*/
</script><noscript>
<a href="http://adserver.adtech.de/adlink|3.0|995.1|0000000|0|-1|ADTECH;loc=300;alias=AP_Reise_Megaboard_980x500;cookie=info;grp=675911941" target="_blank">
<img src="http://adserver.adtech.de/adserv|3.0|995.1|0000000|0|-1|ADTECH;loc=300;alias=AP_Reise_Megaboard_980x500;cookie=info;grp=675911941" alt="Alt-Text" />
</a>
</noscript>
</div>
</div>
</div>
</article>
</div>
<div id="adRight" class="span2 gridUnit">
  <div id="ad0" class="ad">Ad</div>
  <div id="ad1" class="ad">Ad</div>
  <div id="ad2" class="ad">Ad</div>
</div>
</div> <!-- / grid12 -->
<footer id="footer">
<section data-widget-id="11300x10" class="widget code jsp widget-editable viziwyg-section-2 inpage-widget-11300" >
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-22095472-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</section>
<section data-widget-id="2665x11" class="widget code jsp widget-editable viziwyg-section-2 inpage-widget-2665" >
<footer id="footer">
<div class="grid12 gridRow">
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-6671623 gridUnit span4" >
<h2 class="a-none f-normal f-150"><a href="http://a.aftenposten.no/?utm_source=apno_footer&utm_medium=produktforsiden&utm_campaign=fast?xtatc=INT-15">Bestill produkter</a></h2>
<p class="teaserText">
<a href="http://a.aftenposten.no/kjop/article929.ece?utm_source=apno_footer&utm_medium=papiravis&utm_campaign=fast?xtatc=INT-16">Papiravis</a> |&nbsp;<a href="http://a.aftenposten.no/kjop/article2830.ece?utm_source=apno_footer&utm_medium=ipad&utm_campaign=fast?xtatc=INT-17">iPad</a> |&nbsp;<a href="http://a.aftenposten.no/kjop/article2842.ece?utm_source=apno_footer&utm_medium=eavis&utm_campaign=fast?xtatc=INT-18">eAvis</a> |&nbsp;<a href="http://a.aftenposten.no/kjop/article2853.ece?utm_source=apno_footer&utm_medium=arkiv&utm_campaign=fast?xtatc=INT-19">Arkiv</a> |&nbsp;<a href="http://a.aftenposten.no/produkter/?utm_source=apno_footer&utm_medium=magasiner&utm_campaign=fast?xtatc=INT-20">Magasiner</a></p>
</section>
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-6671624 gridUnit span4" >
<h2><a href="http://a.aftenposten.no/kundeservice/?utm_source=apno_footer&utm_medium=kundeservice&utm_campaign=fast?xtatc=INT-21">Kundeservice</a></h2>
<p class="teaserText"><a href="http://onlinesos.aftenposten.no/tjenester/move/temporarymove.htms?utm_source=apno_footer&utm_medium=adresseendring_ferie&utm_campaign=fast?xtatc=INT-24">Adresseendring og ferie </a> |&nbsp;<a href="http://onlinesos.aftenposten.no/tjenester/mypage.htms?utm_source=apno_footer&utm_medium=minside&utm_campaign=fast?xtatc=INT-22">Min side </a> |&nbsp;<a href="http://www.aftenposten.no/a-kortet/">A-kortet</a></p>
</section>
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-6671625 gridUnit span4" >
<h2><a href="http://bedrift.aftenposten.no?xtatc=INT-1">Annonser i Aftenposten</a></h2>
<p class="teaserText"><a href="http://bedrift.aftenposten.no?xtatc=INT-1">Bedrift</a> |&nbsp;<a href="http://kundeservice.aftenposten.no/category.php?categoryID=3&utm_source=apno_footer&utm_medium=privatannonser&utm_campaign=fast?xtatc=INT-2">Privat</a></p>
</section>
</div>
<div class="infoLine">
<div class="grid12 relative">
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-6671605" id="footerSocial">
<a class="footerIcon" id="footerTwitter" href="http://twitter.com/aftenposten">Twitter</a>
<a class="footerIcon" id="footerFacebook" href="http://www.facebook.com/aftenposten">Facebook</a>
<a class="footerIcon" id="footerBrev" href="http://www.aftenposten.no/informasjon/article6677457.ece">Nyhetsbrev</a>
<a class="footerIcon" id="footerRSS" href="http://reise.aftenposten.no/reise/www.aftenposten.no/informasjon/article6677218.ece">RSS-feeds</a>
</section>
<dl data-widget-id="6671587" class="clearfix widget colophon default" id="footerTips">
<dt>
Tipstelefon
</dt>
<dd>
02286 </dd>
<dt>
Tips på e-post
</dt>
<dd>
<a href="mailto:2286@aftenposten.no">
2286@aftenposten.no
</a>
</dd>
<dt>
SMS/MMS
</dt>
<dd>
2286
</dd>
</dl>
<dl data-widget-id="6671586" class="clearfix widget colophon default" id="footerContact">
<dt>
Sentralbord
</dt>
<dd>
22 86 30 00
</dd>
<dt>
Kundeservice
</dt>
<dd>
05040
</dd>
<dt>
Adresse
</dt>
<dd>
Biskop Gunnerus' gate 14A, 0185 OSLO
</dd>
</dl>
<dl data-widget-id="6671581" class="clearfix widget colophon default" id="footerEditor">
<dt>
Sjefredaktør
</dt>
<dd>
Hilde Haugsgjerd
</dd>
<dt>
Digitalredaktør
</dt>
<dd>
<a href="mailto:skjalg.engebo@aftenposten.no">
Skjalg Engebø
</a>
</dd>
<dt>
Nyhetsredaktør
</dt>
<dd>
Ole Erik Almlid
</dd>
</dl>
</div>
</div>
<div class="grid12">
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-6735118" >
<div style="width:80%;text-align:center;margin:auto;padding-bottom:5px;font-size:16px;" class="goto_oldschoolweb"><a href="http://reise.aftenposten.no/cookie.jsp" class="goto_mobile" style="font-size:12px;">Ta meg til mobilutgaven</a></div>
</section>
<section class="widget code html widget-editable viziwyg-section-2 inpage-widget-6671610" >
<div class="f-center f-small disclaimer">
Alt innhold er <a href="http://www.aftenposten.no/informasjon/article2702757.ece">opphavsrettslig beskyttet.</a> &copy; Aftenposten. <a href="http://the-acap.org/acap-enabled.php">ACAP-beskyttet.</a> <a href="http://www.aftenposten.no/informasjon/article3569845.ece">Personvernpolicy.</a><br>
Aftenposten arbeider etter <a target="_blank" href="http://presse.no/Etisk-regelverk/Vaer-Varsom-plakaten">Vær Varsom-plakatens</a> regler for god presseskikk.<br>
Aftenposten har ikke ansvar for innhold på eksterne nettsider som det lenkes til.
</div>
</section>
<div class="widget logo default widget-editable viziwyg-section-2 inpage-widget-6828836" id="mnodigital">
<a href="http://www.schibsted.no/" title="" target="_top">
<img src="http://www.aftenposten.no/incoming/article6829281.ece/BINARY/schibsted.png" alt="" title="" data-image-small="http://www.aftenposten.no/incoming/article6829281.ece/BINARY/w80/schibsted.png">
</a>
</div>
</div>
</footer>
</section>
<!-- TNS -->
<script type='text/javascript'>
/* <![CDATA[ */
spring.c({
's': 'mno',
'cp': 'mno/aftenposten'+'/reise',
'url': window.location.toString()
});
/* ]]> */
</script>
<noscript>
<img src="http://mno.tns-cs.net/j0=,,,;+,cp=mno/aftenposten/reise+url=;;;" alt="" />
</noscript>
<!-- XITI -->
<script type="text/javascript">
/*<![CDATA[*/
xtnv = document;
xtsd = "http://logc142";
xtsite = "401708";
xtn2 = "61";
xtpage = "forsiden::reise::36470_-_Store,_lille_Palma";
xtdi = "";
xtidmod = "";
/*]]>*/
</script>
<script type="text/javascript" src="../resources/js/mno/xiti/xtcore.js"></script>
<noscript>
<img width="1" height="1" alt="" src="http://logc142.xiti.com/hit.xiti?s=401708&amp;s2=61&amp;p=forsiden::reise::36470_-_Store,_lille_Palma&amp;di=&amp;">
</noscript>
<!-- WEBHITS -->
<script type="text/javascript">
/* <![CDATA[ */
var hitSiteTittel = "Store, lille Palma";
var hitSitePage = "http://reise.aftenposten.no/reise/Store_-lille-Palma-36470.html";
var hitSite = "FORBREISE";
(function($) {
$(document).ready(function () {
var hitSiterefR=escape(document.referrer);
if (hitSiterefR.length>=252) hitSiterefR=hitSiterefR.substring(0,252)+"...";
$('body').append('<img src="http://webhit.aftenposten.no/servlet/WebHit?rnd='+(new Date()).getTime()+'&amp;hitSite='+hitSite+'&amp;hitSiteTittel='+hitSiteTittel+'&amp;ref='+hitSiterefR+'&amp;page='+hitSitePage+ '" width="1" height="1" alt="" />');
});
}(window.jQuery));
/* ]]> */
</script>
<!-- cXense script begin, Adressa only -->
<div id="cX-root" style="display:none"></div>
<script type="text/javascript">
if($("body").attr("id")=="adressa"){
var cX = cX || {}; cX.callQueue = cX.callQueue || [];
cX.callQueue.push(['setAccountId', '9222270286501375972']);
cX.callQueue.push(['setSiteId', '9222270286501375973']);
cX.callQueue.push(['sendPageViewEvent']);
}
</script>
<script type="text/javascript">
if($("body").attr("id")=="adressa"){
(function() { try { var scriptEl = document.createElement('script'); scriptEl.type = 'text/javascript'; scriptEl.async = 'async';
scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js' : 'http://cdn.cxense.com/cx.js';
var targetEl = document.getElementsByTagName('script')[0]; targetEl.parentNode.insertBefore(scriptEl, targetEl); } catch (e) {};} ());
}
</script>
<!-- cXense script end -->
<!-- cXense script begin -->
<div id="cX-root" style="display:none"></div>
<script type="text/javascript">
var cX = cX || {}; cX.callQueue = cX.callQueue || [];
cX.callQueue.push(['setAccountId', '9222252570837342891']);
cX.callQueue.push(['setSiteId', '9222294726122495875']);
cX.callQueue.push(['sendPageViewEvent']);
</script>
<script type="text/javascript">
(function() { try { var scriptEl = document.createElement('script'); scriptEl.type = 'text/javascript'; scriptEl.async = 'async';
scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js' : 'http://cdn.cxense.com/cx.js';
var targetEl = document.getElementsByTagName('script')[0]; targetEl.parentNode.insertBefore(scriptEl, targetEl); } catch (e) {};} ());
</script>
<!-- cXense script end -->
<!-- AudienceScience -->
<script src="http://js.revsci.net/gateway/gw.js?csid=C11162&amp;auto=t"></script>
</footer>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
var clientDT = new Date().getTime();
$('<img/>').attr('src', 'http://apsecondary.medianorge.no/analysis-logger/Logger?rt=1&ctxId=209&pubId=1&cat=&meta=read-news&objId=36470&type=article&title=Store%2c+lille+Palma&url=%2freise%2fStore_-lille-Palma-36470.html&clientDT=' + clientDT ).attr('id','eaeLoggerBeacon').insertBefore($('div')[0]);
}());
/*]]>*/
</script>
<noscript>
<div>
<img src="http://apsecondary.medianorge.no/analysis-logger/Logger?rt=1&amp;ctxId=209&amp;pubId=1&amp;cat=&amp;meta=read-news&amp;objId=36470&amp;type=article&amp;title=Store%2c+lille+Palma&amp;url=%2freise%2fStore_-lille-Palma-36470.html" alt="" width="1" height="1"/>
</div>
</noscript>
<script type="text/javascript">
var SITEURL = '/';
mno.namespace('mno.model.widget');
mno.namespace('mno.model.article');
mno.namespace('mno.model.polls');
mno.namespace('mno.publication');
mno.publication = {
"cacheId": "modelCache-section-209-wireframe-default-contentType-news",
"id": 1,
"name": "aftenposten",
"rel": "/",
"url": "/",
"disqus": {
"shortname":"",
"developer":"1"
},
"sectionWidgetId": "",
"currentSectionId": "209" };
if(typeof disqus_shortname !== 'undefined'){
disqus_shortname = mno.publication.disqus.shortname;
}
mno.model.widget = {
"header": {
"type": "widget_header",
"VIEW": "standard"
},
"2664x0": {
"type": "widget_code"
,"VIEW": "jsp"
,"TITLE": "MasterImportHeader",
"codePath": "/template/externalservices/importheader/masterImportHeader.jsp"
},"24588x1": {
"type": "widget_code"
,"VIEW": "jsp"
,"TITLE": "Toppmenylinje reise",
"codePath": "/template/common/code/topmenuReise.jsp"
},"3230x2": {
"type": "widget_slideshow"
,"VIEW": "default"
,"TITLE": "Slideshow article"
},"13859": {
"type": "widget_storyContent"
,"VIEW": "article"
,"TITLE": "Tittel",
"STORYFIELDS": "title",
"videoView": "flash",
"flashArticlesInBody" : [
]
},"2668": {
"type": "widget_storyContent"
,"VIEW": "article"
,"TITLE": "Stikktittel",
"STORYFIELDS": "runningHead",
"videoView": "flash",
"flashArticlesInBody" : [
]
},"2669": {
"type": "widget_storyContent"
,"VIEW": "article"
,"TITLE": "Ingress",
"STORYFIELDS": "leadText",
"videoView": "flash",
"flashArticlesInBody" : [
]
},"2670": {
"type": "widget_storyContent"
,"VIEW": "article"
,"TITLE": "Vis tipsartikkel",
"STORYFIELDS": "showArtTip",
"videoView": "flash",
"flashArticlesInBody" : [
]
},"2671": {
"type": "widget_storyContent"
,"VIEW": "article"
,"TITLE": "Byline topp",
"STORYFIELDS": "byline1",
"videoView": "flash",
"flashArticlesInBody" : [
]
},"2672": {
"type": "widget_storyContent"
,"VIEW": "article"
,"TITLE": "Dato",
"STORYFIELDS": "dateline",
"videoView": "flash",
"flashArticlesInBody" : [
]
},"2674": {
"type": "widget_storyContent"
,"VIEW": "article"
,"TITLE": "Brødtekst",
"STORYFIELDS": "bodyText",
"videoView": "flash",
"flashArticlesInBody" : [
]
},"2683": {
"type": "widget_storyContent"
,"VIEW": "article"
,"TITLE": "Byline bunn",
"STORYFIELDS": "byline2",
"videoView": "flash",
"flashArticlesInBody" : [
]
},"2684": {
"type": "widget_storyContent"
,"VIEW": "article"
,"TITLE": "Byline link",
"STORYFIELDS": "bylineLink",
"videoView": "flash",
"flashArticlesInBody" : [
]
},"24459x3": {
"type": "widget_code"
,"VIEW": "jsp"
,"TITLE": "ADA",
"codePath": "/template/common/code/ADA.jsp"
},"3384x4": {
"type": "widget_code"
,"VIEW": "jsp"
,"TITLE": "Facebook comments",
"codePath": "/template/common/code/facebookComments.jsp"
},"24570x5": {
"type": "widget_code"
,"VIEW": "jsp"
,"TITLE": "AdNyttig - reise",
"codePath": "/template/common/code/adNyttig.jsp"
},"3385x6": {
"type": "widget_code"
,"VIEW": "jsp"
,"TITLE": "Bil/Reise på Facebook",
"codePath": "/template/common/code/carOnFacebook.jsp?width=380&height=340"
},"24630x7": {
"type": "widget_code"
,"VIEW": "jsp"
,"TITLE": "Traffic Fund (tjenester)",
"codePath": "/template/common/code/trafficfund.jsp"
},"3228x8": {
"type": "widget_list"
,"VIEW": "detailed"
,"TITLE": "Bilde og videospesial"
},"24528x9": {
"type": "widget_list"
,"VIEW": "detailed"
,"TITLE": "Siste reiseartikler"
},"11300x10": {
"type": "widget_code"
,"VIEW": "jsp"
,"TITLE": "Google analytics",
"codePath": "/template/common/code/googleAnalytics.jsp"
},"2665x11": {
"type": "widget_code"
,"VIEW": "jsp"
,"TITLE": "MasterFooter",
"codePath": "/template/externalservices/footer/masterfooter.jsp"
},
"3387": {
"type": "widget_mnopolarisAd"
,"VIEW": "init"
,"TITLE": "Init"
},
"3388": {
"type": "widget_mnopolarisAd"
,"VIEW": "placement"
,"TITLE": "ad_Toppbanner"
},
"10133": {
"type": "widget_mnopolarisAd"
,"VIEW": "placement"
,"TITLE": "Ad_PopBack"
},
"23528": {
"type": "widget_mnopolarisAd"
,"VIEW": "placement"
,"TITLE": "Ad_Hestesko"
},
"2673": {
"type": "widget_relatedContents"
,"VIEW": "stories"
,"TITLE": "Les også"
},
"2677": {
"type": "widget_pageTools"
,"VIEW": "addThis"
,"TITLE": "Deling"
},
"3386": {
"type": "widget_mnopolarisAd"
,"VIEW": "placement"
,"TITLE": "ad_Netboard1"
},
"13597": {
"type": "widget_mnopolarisAd"
,"VIEW": "placement"
,"TITLE": "Langknapp"
},
"4893": {
"type": "widget_relatedContents"
,"VIEW": "factboxes"
,"TITLE": "Faktaboks"
},
"4783": {
"type": "widget_mnopolarisAd"
,"VIEW": "placement"
,"TITLE": "ad_Miniboard1"
},
"3393": {
"type": "widget_mnopolarisAd"
,"VIEW": "placement"
,"TITLE": "ad_Megaboard"
},
"10134": {
"type": "widget_mnopolarisAd"
,"VIEW": "placement"
,"TITLE": "ad_Skyskraper1"
},
"10135": {
"type": "widget_mnopolarisAd"
,"VIEW": "placement"
,"TITLE": "ad_Skyskraper2"
},
"10136": {
"type": "widget_mnopolarisAd"
,"VIEW": "placement"
,"TITLE": "ad_Skyskraper3"
},
"3222": {
"type": "widget_statistics"
,"VIEW": "tns"
,"TITLE": "Tns"
},
"3221": {
"type": "widget_statistics"
,"VIEW": "xiti"
,"TITLE": "Xiti"
},
"3220": {
"type": "widget_statistics"
,"VIEW": "webhits"
,"TITLE": "WebHits"
},
"36430": {
"type": "widget_statistics"
,"VIEW": "audiencescience"
,"TITLE": "AudienceScience"
}
};
mno.model.article = {
"id": 36470,
"source": "ece-auto-gen",
"sourceId": "c521e05e-e52d-4ab8-9c85-ee7a823b7c7d",
"TITLE": "Store, lille Palma"
,"ZOOMLEVEL": ""
,"ICONURL": ""
,"CLUSTERICONURL": ""
,"CLUSTEREDMARKERS": "false"
,"AJAXSOURCE": ""
,"MAPTYPEID": "ROADMAP"
,"ALLOWDEBATE": "false"
,"PAGESIZE": ""
};
</script>
<!--
minify error:
noErrors
-->
</body>
</html>
