<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>

  <!-- Sets initial viewport load and disables zooming  -->
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Set Apple icons for when prototype is saved to home screen -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="touch-icons/apple-touch-icon-57x57.png">

  <!-- Include the compiled Ratchet CSS -->
  <link rel="stylesheet" href="/lib/ratchet/ratchet.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Include the compiled Ratchet JS -->
  <script src="/lib/ratchet/ratchet.js"></script>

  <!-- Include socket.io -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Include jQuery -->
  <script src="/lib/jquery-1.8.3.min.js"></script>

  <script src="/js/client.js"></script>

  <!-- Intro paragraph styles. Delete once you start using this page -->
  <style type="text/css">
  .welcome {
    line-height: 1.5;
    color: #555;
  }
  </style>

</head>
<body>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <!-- <div class="content-padded">
      <p class="welcome">Swipe to test!</p>
    </div> -->

    <div class="slider">
      <ul id="ads">
        <li class="ad">
          <!-- img src="http://maker.github.com/ratchet/img/slide-1.jpg">
          <span class="slide-text">← Slide me</span -->
        </li>
        <!-- li class="ad">
          <img src="http://maker.github.com/ratchet/img/slide-2.jpg">
        </li>
        <li class="ad">
          <img src="http://maker.github.com/ratchet/img/slide-3.jpg">
        </li -->
      </ul>
    </div>

    <br> 

    <a class="button-block button-positive" id="like">Like it :)</a>
    <a class="button-block button-negative" id="dislike">Dislike :(</a>

  </div>

</body>
</html>